@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', 'Arial', sans-serif;
}

.navbar-brand {
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

/* button area */

.btn {
	padding: 15px;
	margin-bottom: 10px;
}

input[type=file] {
	display: inline-block;
}

input[type=checkbox] {
	position: relative;
	top: -2px;
}

.checkbox-label {
	position: relative;
	top: -3px;
}

#button-restart {
	display: none;
}

#button-draw {
	padding-left: 50px;
	padding-right: 50px;
}

.button-shuffle-highlight {
	border: 2px solid #286090;	
}

.spacer {
	margin-left: 25px;
	margin-right: 25px;
}

/* card output area */

#section-button-display-1,
#section-button-display-2 {
	display: none;
}

.text-align-right {
	text-align: right;
}

#card-output {
	/*border: 1px solid;*/
	width: 100%;
	min-height: 450px;
	height: 30vw;
	overflow-y: scroll;
	margin-bottom: 10px;
}

#card-output::-webkit-scrollbar
{
	width: 10px;
	background-color: inherit;
}

#card-output::-webkit-scrollbar-thumb
{
	background-color: #286090;	
}

.well {
	padding: 0;
}

.output-card,
.output-info {
	color: #000;
	padding: 10px;
	margin: 0;
}

.output-card {
	font-weight: bold;
	background: #fffee5;
}

.output-info {
	font-style: italic;
	border-top: 1px solid #ccc;
}

.output-card-visited {
	color: #222;
	font-weight: normal;
	background: inherit;
	border-top: 1px solid #ccc;
}

.output-card-hidden {
	visibility: hidden;
}

img.github-logo {
	width: 30px;
	position: absolute;
	height: 30px;
	opacity: 0.5;
	margin-top: -5px;
	right: 5px;
}

a.github-logo:focus,
a.github-logo:hover {
	background-color: transparent !important;
}

/* adjust properties per screen width */

@media screen and (max-width: 768px) {
	.btn {
		padding: 5px;
	}
	ul.nav {
		display: none;
	}
}

@media screen and (max-width: 270px) {
	.navbar-brand {
		font-size: 18px;
	}
	.navbar {
		min-height: 20px;
	}
}

@media screen and (min-width: 769px) {
	.navbar-brand {
		padding-left: 0;
	}
}