@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', 'Arial', sans-serif;
}

/* button area */

.btn {
	padding: 15px;
	margin-bottom: 10px;
}

input[type=file] {
	display: inline-block;
}

#button-restart {
	display: none;
}

#button-draw {
	margin-right: 23px;
	padding-left: 50px;
	padding-right: 50px;
}

#button-shuffle {
	border-width: 2px;
}

/* card output area */

#section-button-display-1,
#section-button-display-2 {
	display: none;
}

#card-output {
	border: 1px solid;
	width: 100%;
	min-height: 450px;
	height: 30vw;
	overflow-y: scroll;
	margin-bottom: 10px;
}

#card-output::-webkit-scrollbar
{
	width: 10px;
	background-color: inherit;
}

#card-output::-webkit-scrollbar-thumb
{
	background-color: #286090;	
}

.output-card,
.output-info {
	color: #000;
	padding: 10px;
	margin: 0;
}

.output-card {
	font-weight: bold;
	background: #fffee5;
}

.output-info {
	font-style: italic;
	border-top: 1px solid #ccc;
}

.output-card-visited {
	color: #222;
	font-weight: normal;
	background: inherit;
	border-top: 1px solid #ccc;
}

.output-card-hidden {
	visibility: hidden;
}

/* adjust properties on narrow width screens */

@media screen and (max-width: 992px) {
	.btn {
		padding: 5px;
	}
	h1 {
		margin: 2px 0 2px 0;
		font-size: 1.5em;
	}
	.navbar {
		min-height: 20px;
	}
}